@use './colors.scss';

@mixin custom-input {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 16px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid colors.$input-active-shadow;
    background-color: white;
    outline: none;
    transition: 0.2s box-shadow;
    appearance: none;
}
