@use './colors.scss';
@use './mixins.scss';
@use 'sass:color';

select {
    @include mixins.custom-input;
    cursor: pointer;

    &:focus {
        box-shadow: 0px 0px 10px 0px color.scale(colors.$input-active-shadow, $lightness: 50%);
    }

    &:before {
        content: 'X';
        font-size: 20px;
        font-family: 'Material Icons';
    }

    option {
        padding: 16px;
    }
}
